.div{
	width: -moz-min-content;
	margin: 100px;
}

.formados{
text-align: -moz-center;

}

#div_1{

	border-radius: 5px;
border-block-style: inset;
padding: 100px;
}

.seleccionMateria{
	background-color: #999;
	color: #FF0000;
}
