body{
        padding: 0px;
        margin: 30px;
        background-color: rgb(250,250,250);
}
h1{
	text-align: center;
}
label{
	font-weight: bold;
	margin-left: 20px;
}
#formulario{
	justify-content: center;
  	text-align: center;
}
#filtro-sexo{  
        margin-top: 5px;
        display: none;
}
#bloque_lista{   
        margin-top: 10px;
}
#bloque_promedio{   
        margin-top: 5px;
}
